<h1>Sign Up</h1>

<form (submit)="onClickSignUp(); $event.preventDefault()">
  <div>
    <label for="username">Username</label>
    <input id="username" (input)="onChangeUsername($event)" />
  </div>

  <div>
    <label for="email">Email</label>
    <input id="email" placeholder="email" (input)="onChangeEmail($event)" />
  </div>

  <div>
    <label for="password">Password</label>
    <input id="password" type="password" (input)="onChangePassword($event)" />
  </div>

  <div>
    <label for="passwordRepeat">Password Repeat</label>
    <input
      id="passwordRepeat"
      type="password"
      (input)="onChangePasswordRepeat($event)"
    />
  </div>

  <button
    mat-flat-button
    color="primary"
    [disabled]="isDisabled() || apiProgress"
  >
    <!-- <span *ngIf="apiProgress">Submitting...</span> -->
    <!-- <span *ngIf="!apiProgress"> Sign Up </span> -->

    {{ apiProgress ? "Submitting..." : "Sign Up" }}
  </button>
</form>
